{% extends "@App/Main/main.html.twig" %}
{% block title %}Kategorie - edycja{% endblock %}
{% block div %}
    <h3>Edycja Kategorii</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" />
    {{ form_end(form)}}
{% endblock %}